* {
  margin: 0;
}

body {
  background-color: #212529;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.outlineBtn {
  border-color: #20c997;
  color: #20c997;
}

.outlineBtn:hover {
  background-color: #20c997;
  color: white;
}

.Btn {
  background-color: #20c997;
  color: white;
}

.Btn:hover {
  background-color: #17a781;
  color: white;
}

.nav-pills .nav-link.active {
  color: #20c997 !important;
  background-color: #111418 !important;
  font-weight: bold !important;
}
